<div class="divContactos" class="divprincipal">
  <div class="direita">
    <h4 class="titulomapa">Onde nos situamos</h4>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3027.362029913082!2d-7.922296485067042!3d40.64394934971378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd23370121313ff7%3A0xfb8b9b36fe071169!2sESTGV%20-%20Escola%20Superior%20de%20Tecnologia%20e%20Gest%C3%A3o%20de%20Viseu!5e0!3m2!1spt-PT!2spt!4v1580840702589!5m2!1spt-PT!2spt"
      width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
  <h1 class="titulo">Contacte-nos!</h1>
  <p class="textos">Nome:</p>
  <input type="text" name="nome" class="MargensCaixas"><br>
  <p class="textos">Apelido:</p>
  <input type="text" name="apelido" class="MargensCaixas"><br>
  <p class="textos">E-mail:</p>
  <input type="text" name="email" class="MargensCaixas"><br>
  <p class="textos">Mensagem:</p>
  <textarea rows="5" cols="100" class="MargensCaixaMensagem"></textarea><br>
  <br>
  <input type="submit" value="Enviar" class="btnenviar">
  <input type="submit" value="Cancelar" class="btncancelar">
  <br>
  <p class="textos">Clique em "Enviar" para nos contactar.</p>
</div>