<div class="divprincipal">
  <h1 class="titulo">Início</h1>
  <h4 class="titulo">Benvindo ao site.</h4>
  <p class="textos">Este é um projeto prático desenvolvido para a UC de Aplicações para a Internet III da
    Licenciatura<br>
    de Tecnologias e Design de Multimédia, na Ecola Superior de Tecnologia e Gestão do Instituto Politécnico de
    Viseu,<br>
    o qual consiste em:</p>
  <p class="textos">&#x25B8; Desenvolver uma API em NodeJS (ou PHP) para disponibilizar serviços a uma aplicação
    cliente;</p>
  <p class="textos">&#x25B8; Desenvolver uma aplicação cliente através da framework Angular (ou vanilla JS +
    JQuery) para interagir com a API anterior;</p>
  <p class="textos">&#x25B8; Integrar a utilização de serviços (APIs) de terceiros na API para implementar
    algumas das funcionalidades a fornecer ao utilizador;</p>
  <br>
  <figure class="effect8">
    <a href="#"><img alt="Effect 8" src="https://i.ibb.co/PD6ZmQW/ai3-print-4.png"></a>
    <figcaption>
      <div class="info">
        <p>Esquema do Projeto Prático de AI3</p>
      </div>
    </figcaption>
  </figure>
  <br>
  <p class="textos2">Este projeto foi desenvolvido por: Inês Azougado, nº 17366 | Dennis Amaral, nº 15537
  </p>
</div>
