<div class="divprincipal">
  <h1 class="titulo">Início</h1>
  <h4 class="titulo">Benvindo ao site do nosso projeto prático de Aplicações para a Internet III.</h4>
  <p>Este é um projeto que consiste em:</p>
  <p>&#x25B8; Desenvolver uma API em NodeJS (ou PHP) para disponibilizar serviços a uma aplicação cliente;</p>
  <p>&#x25B8; Desenvolver uma aplicação cliente através da framework Angular (ou vanilla JS +
    JQuery) para interagir com a API anterior;</p>
  <p>&#x25B8; Integrar a utilização de serviços (APIs) de terceiros na API para implementar
    algumas das funcionalidades a fornecer ao utilizador;</p><br>
  <figure class="effect8">
    <a href="#"><img alt="Effect 8" src="https://i.ibb.co/3px4snK/ai3-print-3.png"></a>
    <figcaption>
      <div class="info">
        <p>Esquema do Projeto Prático de AI3</p>
      </div>
    </figcaption>
  </figure>
</div>