<div class="divprincipal">
  <h1 class="titulo">Perfil</h1>
  <div class="imgPerfil">
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <img class="imgUtilizador" src="{{profile.picture}}">
  </pre>
  </div>
  <div class="InfoPerfil">
    <p class="textos"><b>Nome</b></p>
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code class="textos2">{{profile.name}}</code>
  </pre>
    <p class="textos"><b>Nome de Utilizador</b></p>
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code class="textos2">{{profile.nickname}}</code>
  </pre>
    <p class="textos"><b>E-mail</b></p>
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code class="textos2">{{profile.email}}</code>
  </pre>
    <p class="textos"><b>Verificação de E-mail</b></p>
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code class="textos2">{{profile.email_verified}}</code>
  </pre>
    <p class="textos"><b>Atualizado em</b></p>
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code class="textos2">{{profile.updated_at}}</code>
  </pre>
    <p class="textos"><b>Atualizado em</b></p>
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code class="textos2">{{profile.updated_at}}</code>
  </pre>
  </div>
</div>
