<div class="divprincipal">
  <h1 class="titulo">Perfil</h1>
  <div class="imgPerfil">
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <img class="imgUtilizador" src="{{profile.picture}}">
  </pre>
  </div>
  <div class="InfoPerfil">
    <p class="textos">Nome</p>
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code>{{profile.name}}</code>
  </pre>
    <p class="textos">Nome de Utilizador</p>
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code>{{profile.nickname}}</code>
  </pre>
    <p class="textos">E-mail</p>
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code>{{profile.email}}</code>
  </pre>
    <p class="textos">Verificação de E-mail</p>
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code>{{profile.email_verified}}</code>
  </pre>
    <p class="textos">Atualizado em</p>
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code>{{profile.updated_at}}</code>
  </pre>
  </div>
</div>
