<div class="divprincipal">
  <form [formGroup]="userForm" #declarativeForm="ngForm">
    <h1 class="titulo">Login</h1>
    <p><input type="text" name="email" class="MargensCaixas" matInput placeholder="Email" formControlName="email"></p>
    <p><input type="password" name="pass" class="MargensCaixas" matInput placeholder="Palavra pass"
        formControlName="pass">
    </p>
    <br>
    <form #declarativeForm="ngForm">
      <re-captcha [(ngModel)]="declarativeFormCaptchaValue" name="captcha" required></re-captcha>
    </form>
    <br>
    <button class="btnenviar" type="submit" (click)="doLogin()" [disabled]="!declarativeForm.valid">Login</button>
    <br>
    <br>
  </form>

</div>
